/* Global styldisplay: flex;es */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f3f3f3;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    color: #fa8072;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Navbar styles */
#nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f3f3f3;
    color: black;
    z-index: 1000;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    mix-blend-mode: multiply;
}

#nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#nav-menu li {
    padding: 10px;
}

#nav-menu li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
}

#nav-menu li a:hover {
    color: #19abbb;
    font-weight: 500;
}

/* Home section styles */
#home {
    margin-top: 5rem;
    padding: 50px 0;
}

.home-text {
    display: flex;
    justify-content: space-between;
}

#socials {
    list-style-type: none;
    display: flex;
    margin-left: -16.2%;
    margin-top: 5%;
}

#socials li {
    font-size: 2.5rem;
    padding: 12px;
}

#mypic {
    text-align: center;
    padding-top: 10px;
    padding-right: 20px;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#user-detail-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#backend_title {
    font-size: 30px;
    line-height: 21px;
}

/* About section styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-content {
    text-align: center;
}

/*-----------------------------------*\
 * #SKILLS
\*-----------------------------------*/
button {
    background: none;
    border: none;
    font: inherit;
}

.skills {
    padding-block: 40px;
}

li {
    list-style: none;
}

.skills-content {
    margin-bottom: 50px;
}

.card-icon1 img {
    width: 60px;
    height: 60px;
}

.card-icon2 img {
    width: 45px;
    height: 45px;
}

.card-icon3 img {
    width: 60px;
    height: 60px;
}

.card-icon4 img {
    width: 30px;
    height: 30px;
}

.skills-toggle {
    background-color: #d3d5d8;
    position: relative;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.skills-toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    bottom: 5px;
    width: 80px;
    background: salmon;
    border-radius: 100px;
    transition: 0.25s ease-in-out;
    z-index: -1;
}

.skills-toggle.active::before {
    left: 100px;
    width: 80px;
}

.toggle-btn {
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 5px 25px;
    transition: 0.25s ease-in-out;
}

.toggle-btn.active {
    color: white;
}

.skills-box.active .skills-list,
.skills-box .tools-list {
    display: none;
}

.skills-box .skills-list,
.skills-box.active .tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skill-card {
    position: relative;
    background-color: #d3d5d8;
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    box-shadow: var(--shadow-1);
    cursor: help;
}

.skill-card:hover .tooltip {
    transform: translateY(0);
    opacity: 1;
}

.skills {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.skills-content {
    margin-bottom: 0;
}

.skills-toggle {
    margin-inline: 0;
}

.section-content {
    position: relative;
    padding-left: 40px;
}

a {
    text-decoration: none;
}

.section-subtitle {
    position: relative;
    /* color: var(--color-secondary); */
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.section-subtitle::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 60px;
    height: 2px;
    /* background: var(--color-secondary); */
}

/* .section-title {
    max-width: 350px;
    margin-bottom: 30px;
} */
.section-text {
    font-size: 16px;
}

.section-text {
    color: black;
    line-height: 1.8;
    margin-bottom: 30px;
}

.tooltip {
    position: absolute;
    top: -40px;
    background: salmon;
    min-width: max-content;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 4px;
    /* box-shadow: var(--shadow-1); */
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-in-out;
    z-index: 1;
}


/* Projects section styles */

#projects {
    padding: 50px 0;
}

.project-title {
    text-align: center;
    color: salmon;
}

.project-card-container {
    /* width: 200%; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    transition: transform 0.5s ease;
}

.project-card {
    height: 50%;
    /* border: 1px solid red; */
    /* flex: 0 0 429px; */
    padding: 19px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 50px 40px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    border-radius: 1%;
    margin-right: 20px;
}
.project-description{
    text-align: justify;
}
.project-photo img{
    margin-top: 50px;
    width: 98%;
}
.project-card:hover {
    background-color: whitesmoke;
}

.project-logo {
    height: 100px;
    margin-left: 26%;
}

.project-logo2 {
    height: 100px;
    margin-left: 38%;

}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project-links * {
    font-size: 23px;
    font-weight: 600;
}

.project-deployed-link,
.project-github-link {
    text-decoration: none;
    color: black;
}

.project-deployed-link:hover,
.project-github-link:hover {
    font-weight: 500;
    color: salmon;
}

/* Contact section styles */
#contact {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-list li:last-child {
    margin-right: 0;
}

.contact-list li a {
    text-decoration: none;
    color: #fa8072;
    font-weight: 600;
    font-size: 40px;
    margin-right: 20px;
    font-size: 2.5rem;
}



/* Resume section styles */
#resume {
    padding: 50px 0;
    background-color: #fff;
}

#resume h2 {
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.resume-buttons {
    text-align: center;
}


#resume-button-2 {
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    background-color: salmon;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 10px;
}

#resume-button-2:hover {
    background-color: #19abbb;
}

#nav-menu .active {
    font-weight: bold;
    color: salmon;
}

/* github */
#github h2 {
    text-align: center;
}

.github {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.5s ease;
}



.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input[type="checkbox"] {
    display: none;

}

.switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 5;
    bottom: 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    /* background-color: rgb(255, 173, 0); */
    border-radius: 34px;
    /* border: 1px solid rgb(247, 83, 83); */
    transition: transform 0.87s ease-in-out;
}

.switch .slider:before {
    content: "";
    position: absolute;
    top: 60%;
    left: 4%;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: transform 1.5s ease;
    background-image: url("https://cdn.discordapp.com/attachments/1128079625818480751/1128771992271728740/sun_1.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 5px gray(255, 0, 0, 0.5);
}

.switch input:checked+.slider:before {
    content: "";
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background-image: url("https://cdn.discordapp.com/attachments/1128079625818480751/1130938051716186123/moon.png");
    background-size: cover;
    background-position: center;
}

input[type="checkbox"]:checked+.slider:before {
    transform: translateX(10px);
    transform: translateY(-16px);
}


/* Dark mode */
body.dark-mode {
    background-color: rgb(30, 41, 59);
    color: #fff;
}

.dark-mode #nav-menu {
    background-color: #000000;
    color: #fff;
}

.dark-mode #nav-menu .active {
    color: salmon;
}

.dark-mode #nav-menu li a {
    color: #fff;
}

.dark-mode #nav-menu li a:hover {
    color: salmon;
}

.dark-mode .about-description {
    color: white;
}


.dark-mode #resume-button-2 {
    background-color: salmon;
}

.dark-mode #resume-button-2:hover {
    background-color: whitesmoke;
    color: salmon;
}

.dark-mode #prevBtn:hover {
    background-color: whitesmoke;
    color: salmon;
}

.dark-mode #nextBtn:hover {
    background-color: whitesmoke;
    color: salmon;
}

.dark-mode #skills {
    background-color: rgb(30, 41, 59);
}

.dark-mode .skills-card {
    background-color: rgb(68, 94, 135);
}

.dark-mode .skills-card:hover {
    background-color: white;
    color: rgb(30, 41, 59);
}

.dark-mode .section-text {
    color: white;
}

.dark-mode #home {
    background-color: rgb(30, 41, 59);
}

.dark-mode .project-title {
    color: white;
}

.dark-mode #projects {
    background-color: rgb(30, 41, 59);
}

.dark-mode .project-card {
    background-color: rgb(62, 82, 114);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.dark-mode .project-card:hover {
    box-shadow: 0 6px 10px white;
}

.dark-mode #contact {
    background-color: rgb(30, 41, 59);
}

.empty {
    min-height: 200px;
}

.footer {
    padding-top: 5%;
    color: #868e96;
    text-align: center;
}

.white {
    display: none;
}

/* Responsive styles */

@media all and (min-width: 768px) and (max-width:1023px) {

    /* Navbar styles */
    .logo img {
        width: 80px;
        height: 70px;
    }

    #nav-menu li a {
        font-size: 20px;
    }

    /* Home section styles */
    #home {
        margin-top: 3rem;
    }

    .home-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #socials {
        margin-left: 0;
        margin-top: 3%;
    }

    .home-img {
        width: 140px;
        height: 140px;
    }

    #user-detail-name {
        font-size: 20px;
        margin-bottom: 5px;
    }

    #user-detail-intro {
        font-size: 24px;
        line-height: 1.2;
    }

    /* About section styles */
    .about-content {
        text-align: center;
        margin-top: 30px;
    }

    /* Skills section styles */
    /* #skills {
        margin-top: 3%;
    } */


    /* Projects section styles */
    .section-title {
        text-align: center;
    }

    .project-carousel {
        margin-left: 15%;
        width: 70%;
        justify-content: center;
        overflow: hidden;
        position: sticky;
    }

    .project-card-container {
        margin-left: 10%;
        display: flex;
        gap: 10%;
        grid-template-columns: repeat(1, 2fr);
    }

    .project-logo {
        margin-left: 28%;
    }

    .project-card {
        margin-left: -5.8%;
    }

    /* Contact section styles */
    .contact-list li a {
        font-size: 30px;
        margin-right: 10px;
    }

    /* Resume section styles */
    .resume-buttons {
        text-align: center;
        margin-top: 20px;
    }

    .resume-button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* Github section styles */
    .github {
        flex-wrap: wrap;
        justify-content: center;
        /* flex-direction: column; */
    }

    /* Footer styles */
    .footer {
        padding-top: 3%;
    }
}

@media all and (min-width: 320px) and (max-width:767px) {

    /* Navbar */
    #nav-menu li a {
        font-size: 28px;
    }

    #home {
        width: 250%;
    }

    .home-text {

        margin-left: 10%;
    }

    .home-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #socials {
        margin-left: 0;
        margin-top: 3%;
    }

    .home-img {
        width: 180px;
        height: 170px;
    }

    .about-content {
        width: 250%;
        text-align: center;
        margin-top: 30px;
        margin-left: 10%;
    }

    #resume-button-2 {
        margin-top: 3%;
        margin-left: 114%;
    }


    #projects .section-title {
        margin-left: 115%;
    }

    .project-carousel {
        margin-left: 55%;
        width: 161%;
        justify-content: center;
        overflow: hidden;
        position: sticky;
    }

    .project-card-container {
        gap: 6%;
    }

    .project-controls {
        margin-left: 135%;
    }

    #github .section-title {
        width: 300px;
        margin-left: 79%;
    }

    .github {
        margin-left: 80%;
        width: 250px;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contact {
        width: 249%;
    }

    .footer {
        width: 250px;
        margin-left: 90%;
        text-align: center;
    }
}

@media all and (min-width: 375px) and (max-width:767px) {

    .skills-card-container1 {
        margin-left: -59%;
    }

    .skills-card {
        border: 1px solid green;
        margin-left: 36%;
    }

    .project-carousel {

        width: 135%;

    }
}

@media all and (min-width: 425px) and (max-width:874px) {
    .home-text {
        margin-left: 6%;
    }

    .skills-card-container5,
    .skills-card-container3,
    .skills-card-container2 {
        margin-left: 25px;
    }
}


/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
    background-color: #fa8072;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 2000;
    bottom: 60px;
    right: 30px;
    /* Updated the positioning */
    display: flex;
    font-size: 43px;
    justify-content: center;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    opacity: 0;
}

.go-top.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s;
}