/* Global styles */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Navbar styles */
#nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: re(255, 255, 255);
    color: black;
    z-index: 1000;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

#nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#nav-menu li {
    padding: 10px;
}

#nav-menu li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
}

#nav-menu li a:hover {
    color: #19abbb;
    font-weight: 500;
}

/* Home section styles */
#home {
    margin-top: 5rem;
    padding: 50px 0;
}

.home-text {
    display: flex;
    justify-content: space-between;
}

#socials {
    list-style-type: none;
    display: flex;
    margin-left: -16.2%;
    margin-top: 5%;
}

#socials li {
    font-size: 2.5rem;
    padding: 12px;
}

#mypic {
    text-align: center;
    padding-top: 10px;
    padding-right: 20px;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#user-detail-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#backend_title {
    font-size: 30px;
    line-height: 21px;
}

/* About section styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-content {
    text-align: center;
}

/* Skills section styles */
.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-title {
    color: #fa8072;
}

.about-description {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

#skills {
    padding: 50px 0;
    background-color: #f9f9f9;
    margin-top: 2%;
}

#skills h2 {
    text-align: center;
    color: #fa8072
}

.skills-card-container {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
}

.skills-card-container1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.skills-card-container2 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
}

.skills-card-container3 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
}

.skills-card {
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 200px;
    height: 140px;
    border-radius: 5%;
}


.skills-card-img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.skills-card-name {
    font-weight: bold;
    text-align: center;
}

/* Projects section styles */

#projects {
    padding: 50px 0;
}

.project-title {
    text-align: center;
    color: salmon;
}

.project-carousel {
    overflow: hidden;
    position: relative;
}

.project-card-container {
    display: flex;
    height: 390px;
    grid-template-columns: repeat(2, 1fr);
    transition: transform 0.5s ease;
}

.project-card {
    flex: 0 0 429px;
    padding: 19px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 50px 40px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    border-radius: 5%;
    margin-right: 20px;
}

.project-card * {
    margin-top: -1px;
    /* line-height: 15px; */
}

.project-card:hover {
    background-color: whitesmoke;
}

.project-logo {
    height: 100px;
    margin-left: 26%;
}

.project-logo2 {
    height: 100px;
    margin-left: 38%;

}

.project-links {
    display: flex;
    justify-content: space-between;
}

.project-links * {
    font-size: 23px;
    font-weight: 600;
}

.project-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-control-btn {
    background-color: salmon;
    color: #fff;
    border: none;
    width: 120px;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 6%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-control-btn:hover {
    background-color: #19abbb;
}

.project-deployed-link,
.project-github-link {
    text-decoration: none;
    color: black;
}

.project-deployed-link:hover,
.project-github-link:hover {
    font-weight: 500;
    color: salmon;
}

/* Contact section styles */
#contact {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-list li:last-child {
    margin-right: 0;
}

.contact-list li a {
    text-decoration: none;
    color: #fa8072;
    font-weight: 600;
    font-size: 40px;
    margin-right: 20px;
    font-size: 2.5rem;
}



/* Resume section styles */
#resume {
    padding: 50px 0;
    background-color: #fff;
}

#resume h2 {
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.resume-buttons {
    text-align: center;
}


#resume-button-2 {
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    background-color: salmon;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 10px;
}

#resume-button-2:hover {
    background-color: #19abbb;
}

#nav-menu .active {
    font-weight: bold;
    color: salmon;
}

/* github */
#github h2 {
    text-align: center;
}

.github {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.5s ease;
}



.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

.switch input[type="checkbox"] {
    display: none;

}

.switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: rgb(255, 173, 0);
    border-radius: 34px;
    border: 1px solid rgb(247, 83, 83);
    transition: background-color 0.1s ease;
}

.switch .slider:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: transform 1.5s ease;
    background-image: url("https://cdn.discordapp.com/attachments/1128079625818480751/1128771992271728740/sun_1.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 5px gray(255, 0, 0, 0.5);
}

.switch input:checked+.slider:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background-image: url("https://cdn.discordapp.com/attachments/1128079625818480751/1130938051716186123/moon.png");
    background-size: cover;
    background-position: center;
}


input[type="checkbox"]:checked+.slider {
    background-color: rgb(37, 36, 36);
    border: 1px solid #f9f9f9;
}

input[type="checkbox"]:checked+.slider:before {
    transform: translateX(10px);
    transform: translateY(-16px);
}


/* Dark mode */
body.dark-mode {
    background-color: rgb(30, 41, 59);
    color: #fff;
}

.dark-mode #nav-menu {
    background-color: #000000;
    color: #fff;
}

.dark-mode #nav-menu .active {
    color: salmon;
}

.dark-mode #nav-menu li a {
    color: #fff;
}

.dark-mode #nav-menu li a:hover {
    color: salmon;
}

.dark-mode .about-description {
    color: white;
}


.dark-mode #resume-button-2 {
    background-color: salmon;
}

.dark-mode #resume-button-2:hover {
    background-color: whitesmoke;
    color: salmon;
}

.dark-mode #prevBtn:hover {
    background-color: whitesmoke;
    color: salmon;
}

.dark-mode #nextBtn:hover {
    background-color: whitesmoke;
    color: salmon;
}

.dark-mode #skills {
    background-color: rgb(30, 41, 59);
}

.dark-mode .skills-card {
    background-color: rgb(68, 94, 135);
}

.dark-mode .skills-card:hover {
    background-color: white;
    color: rgb(30, 41, 59);
}

.dark-mode #home {
    background-color: rgb(30, 41, 59);
}

.dark-mode .project-title {
    color: white;
}

.dark-mode #projects {
    background-color: rgb(30, 41, 59);
}

.dark-mode .project-card {
    background-color: rgb(62, 82, 114);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.dark-mode .project-card:hover {
    box-shadow: 0 6px 10px white;
}

.dark-mode #contact {
    background-color: rgb(30, 41, 59);
}

.empty {
    min-height: 200px;
}

.footer {
    padding-top: 5%;
    color: #868e96;
    text-align: center;
}

.white {
    display: none;
}

/* Responsive styles */

@media all and (min-width: 768px) and (max-width:1023px) {

    /* Navbar styles */
    .logo img {
        width: 80px;
        height: 70px;
    }

    #nav-menu li a {
        font-size: 20px;
    }

    /* Home section styles */
    #home {
        margin-top: 3rem;
    }

    .home-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #socials {
        margin-left: 0;
        margin-top: 3%;
    }

    .home-img {
        width: 140px;
        height: 140px;
    }

    #user-detail-name {
        font-size: 20px;
        margin-bottom: 5px;
    }

    #user-detail-intro {
        font-size: 24px;
        line-height: 1.2;
    }

    /* About section styles */
    .about-content {
        text-align: center;
        margin-top: 30px;
    }

    /* Skills section styles */
    #skills {
        margin-top: 3%;
    }

    .skills-card-container,
    .skills-card-container1,
    .skills-card-container2,
    .skills-card-contain er3 {
        display: flex;
        grid-template-columns: repeat(1, 2fr);
    }

    .skills-card {
        margin: 10px;
    }

    /* Projects section styles */
    .section-title {
        text-align: center;
    }

    .project-carousel {
        margin-left: 15%;
        width: 70%;
        justify-content: center;
        overflow: hidden;
        position: sticky;
    }

    .project-card-container {
        margin-left: 10%;
        display: flex;
        gap: 10%;
        grid-template-columns: repeat(1, 2fr);
    }

    .project-logo {
        margin-left: 28%;
    }

    .project-card {
        margin-left: -5.8%;
    }

    /* Contact section styles */
    .contact-list li a {
        font-size: 30px;
        margin-right: 10px;
    }

    /* Resume section styles */
    .resume-buttons {
        text-align: center;
        margin-top: 20px;
    }

    .resume-button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* Github section styles */
    .github {
        flex-wrap: wrap;
        justify-content: center;
        /* flex-direction: column; */
    }

    /* Footer styles */
    .footer {
        padding-top: 3%;
    }
}

@media all and (min-width: 320px) and (max-width:767px) {

    /* Navbar */
    #nav-menu li a {
        font-size: 28px;
    }

    #home {
        width: 250%;
    }

    .home-text {

        margin-left: 10%;
    }

    .home-text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #socials {
        margin-left: 0;
        margin-top: 3%;
    }

    .home-img {
        width: 180px;
        height: 170px;
    }

    .about-content {
        width: 250%;
        text-align: center;
        margin-top: 30px;
        margin-left: 10%;
    }

    #resume-button-2 {
        margin-top: 3%;
        margin-left: 114%;
    }

    #skills {
        margin-top: 3%;
        width: 250%;
    }

    .skills-card-container1 {
        display: flex;
        flex-direction: column;
        margin-left: -50%;
    }

    .skills-card-container,
    .skills-card-container2,
    .skills-card-container3 {
        display: flex;
        flex-direction: column;
    }

    .skills-card {
        border: 1px solid green;
        margin-left: 35%;
    }

    #projects .section-title {
        margin-left: 115%;
    }

    .project-carousel {
        margin-left: 55%;
        width: 161%;
        justify-content: center;
        overflow: hidden;
        position: sticky;
    }

    .project-card-container {
        gap: 6%;
    }

    .project-controls {
        margin-left: 135%;
    }

    #github .section-title {
        width: 300px;
        margin-left: 79%;
    }

    .github {
        margin-left: 80%;
        width: 250px;
        flex-wrap: wrap;
        justify-content: center;
    }

    #contact {
        width: 249%;
    }

    .footer {
        width: 250px;
        margin-left: 90%;
        text-align: center;
    }
}

@media all and (min-width: 375px) and (max-width:767px) {

    .skills-card-container1 {
        margin-left: -59%;
    }

    .skills-card {
        border: 1px solid green;
        margin-left: 36%;
    }

    .project-carousel {

        width: 135%;

    }
}

@media all and (min-width: 425px) and (max-width:874px) {
    .home-text {
        margin-left: 6%;
    }
        .skills-card-container5,.skills-card-container3,.skills-card-container2 {
            margin-left: 25px;
        }
}